// -----Imports-----
@import "../css/reset.css";

// -----General-----
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 1.875em;
}

.services,
.portfolio,
.footer {
    padding: 90px 0;

    @media (max-width: 800px) {
        padding: 60px 0;
    }
}



// -----Header-----
.header {
    background-color: #F1F1F1;
    padding: 2.875em 0 0 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__logo {
        font-size: 2em;
        font-weight: 700;
        position: relative;
        padding: 0 0.800em 0.0937em 0;

        &::after {
            content: '';
            display: block;
            height: 8px;
            width: 8px;
            background-color: #FDA300;
            border-radius: 50%;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

// Nav
.nav {
    @media (max-width: 800px) {
        display: none;
    }
    font-size: 0.875em;

    &__list {
        display: flex;
        -moz-column-gap: 3.5714em;
         column-gap: 3.5714em;
    }

    &__item {
        font-weight: 500;
        display: flex;

        &-active a {
            color: #606060;
        }
    }
}

// -----Intro-----
.intro {
    padding: 4.73em 0 0 0;

    @media (max-width: 800px) {
        padding: 0.1em 0 0 0;
    }

    background-color: #F1F1F1;

    .container {
        display: flex;
        justify-content: space-between;
        -moz-column-gap: 50px;
             column-gap: 50px;

        @media (max-width: 800px) {
            flex-wrap: wrap;
        }
    }

    &__text {
        margin: 7.75em 0 0 0;
        @media (max-width: 800px) {
            margin: 2.75em 0 0 0;
        }
    }

    &__title {
        font-size: 2.75em;
        font-weight: 600;
        line-height: 1.5;

        @media (max-width: 800px) {
            font-size: 1.75rem;
        }
    }

    &__name-autor {
        @media (max-width: 800px) {
            font-size: 2.125rem;
        }
    }

    &__subtitle {
        font-size: 0.875em;
        margin: 1.4285em 0 0 0;
        font-weight: 400;
        line-height: 2;
        max-width: 500px;

        @media (max-width: 800px) {
            margin: 20px 0;
        }
    }

    &__img {
        @media (max-width: 800px) {
            width: 100%;
        }
    }

}

// -----Services-----
.services {
    &__cards {
        display: flex;
        justify-content: space-between;

        @media (max-width: 800px) {
            flex-direction: column;
        }
    }
}

.card {
    line-height: 2;
    display: flex;
    flex-direction: column;

    &__img {
        width: 68px;
    }

    &__title {
        font-size: 1.5em;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0.9625em 0 0 0;
    }

    &__text {
        font-size: 0.875em;
        max-width: 26.4285em;
        margin: 0.3125em 0 0 0;
    }
}

.card + .card {
    @media (max-width: 800px) {
        margin-top: 60px;
    }
}

// -----Portfolio-----
.portfolio {
    background-color: #F1F1F1;

    &__title {
        text-align: center;
        font-size: 2.125em;
        font-weight: 600;
    }

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 68px 0 0 0;
    }
}

.project + .project {
    margin-top: 90px;
}

.project {
    &__link {
        text-align: center;
        font-size: 1.125em;
        text-decoration: underline;
        display: block;
        margin: 2.2222em 0 0 0;
    }

    &__img {
        width: 100%;
    }
}

// -----Footer-----

.footer {
    text-align: center;

    &__content {
        max-width: 342.18px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 2.125em;
        font-weight: 600;
    }

    &__subtitle {
        font-size: 1.125em;
        max-width: 16.4em;
        line-height: 1.5;
        margin-top: 48px;

        @media (max-width: 800px) {
            margin-top: 28px;
        }
    }

    &__btn {
        background-color: #070707;
        color: #fff;
        padding: 7px 22px;
        border-radius: 40px;
        margin-top: 40px;
        font-size: 1.125em;
        line-height: 1.5;
        transition: 0.3s ease;

        &:hover {
            background-color: lighten(#070707, 50%);
        }

        &:active {
            transform: scale(1.05);
        }

        @media (max-width: 800px) {
            margin-top: 20px;
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        margin-top: 79px;
        width: 100%;

        @media (max-width: 800px) {
            margin-top: 69px;
        }
    }

    &__additionally {
        color: #828282;
        font-size: 0.875em;
        line-height: 1.5;
        margin-top: 40px;
    }
}